@font-face {
  font-family: 'GT Pressura';
  src: url("fonts/GTPressura.otf") format('opentype');
}
@font-face {
  font-family: 'GT Pressura Light';
  src: url("fonts/GTPressuraLight.ttf") format('truetype');
}
html, body {
  font-family: 'GT Pressura', sans-serif!important;
}
.btDarkSkin h1,
.btDarkSkin h2,
.btDarkSkin h3,
.btDarkSkin h4,
.btDarkSkin h5,
.btDarkSkin h6 {
  color: #000000;
  font-weight: 200;
}
.btContent {
  width: 100%;
}
.btDarkSkin .menuPort ul li a,
.btLightSkin .btDarkSkin .menuPort ul li a {
  color: #000000;
}
body.btMenuVertical,
body.btMenuHorizontal,
.menuPort nav ul li a {
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #000000;
}
btLightSkin .menuPort ul li a,
.btDarkSkin .btLightSkin .menuPort ul li a {
  color: #000000;
}
.btCounterHolder {
  font-weight: 100;
  letter-spacing: 0.3px;
}
.btIconWidget {
  color: #000000;
}
body.btMenuHorizontal.btStickyHeaderActive.btDarkSkin .mainHeader {
  background-color: rgba(15, 22, 31, 1);
}
.header.medium h3 {
  letter-spacing: 0.8px;
  line-height: 46px;
}
.header.small h4 {
  letter-spacing: 0.1px;
  line-height: 32px;
}
@media screen and (max-width: 782px) {
  .btCounterHolder.btCounterNormalSize {
    display: none;
    visibility: hidden;
  }
}
.header.medium .btSuperTitle {
  text-transform: uppercase !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  letter-spacing: 1.2px !important;
}
.header.medium .btSubTitle {
  letter-spacing: 0.2px;
}
.btMenuVertical .menuPort .logo img {
  width: 50px !important;
  display: none !important;
}
.header.small .btSuperTitle {
  font-size: 15px;
  padding-top: 30px;
}
.header.small .btSubTitle {
  padding-top: 8px;
  font-size: 17px;
  letter-spacing: 0.4px;
  color: #000000;
  line-height: 26px;
}
.header.small .headline {
  padding-top: 6px;
  color: #000000;
}
.btCounterHolder .btCountdownHolder span {
  letter-spacing: 0.2px;
  font-weight: 300;
}
#info .btSubTitle {
  width: inherit;
  max-width: 500px !important;
}
.soundIcon .btIcoHolder {
  margin-left: 2vw;
  margin-bottom: -60px !important;
}
.footerLogos {
  width: 80% !important;
  max-width: 400px;
}
.btHighlight > .rowItemContent {
  border: solid 3px #fde825;
}
#programm span {
  color: #fff;
}
.tnp-firstname {
  background-color: #fff!important;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797!important;
  border-radius: 8px;
}
.tnp-email {
  background-color: #fff!important;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797!important;
  border-radius: 8px;
}
.tnp-submit {
  font-weight: bold!important;
  font-size: 20px!important;
  height: 50px!important;
  color: #000!important;
  background-color: #fde825!important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
a.btIcoHolder::before {
  color: #000!important;
}
.btCloseVertical::before {
  color: #000!important;
}
.btSubTitle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mainHeader li {
  display: inline-block!important;
}

/* Adjusting the menu */
.mainHeader.btDarkSkin, .btLightSkin .mainHeader.btDarkSkin {
  background-color: rgba(255,255,255,0.8);
  position: fixed;
}

nav {
  text-align: right;
}

.menuPort nav ul li {
  padding-right: 25px;
}

/* Adjust Forms*/
.form-group {
  width: 40%;
  display: inline-block;
}

.textbox {
  margin-bottom: 80px!important;
}

.submitButton {
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  color: black;
  background-color: #fde825;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 100%;
  margin-top: 40px;
  border-color: #edd602;
  &:hover, &:focus, &:active {
    background-color: #edd602!important;
    border-color: #edd602!important;
    color: black!important;
  }
}
.fancy-select {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.submitDiv {
  display: block;
  margin: auto;
}
.rowItemContent {
  padding: 40px!important;
}
#programm p {
  font-family: 'GT Pressura Light', sans-serif;
}
#programm strong {
  font-family: "GT Pressura", sans-serif;
}
.programmDate {
  font-size: 70px;
  font-family: "GT Pressura";
}
.programmDays {
  font-size: 25px;
  display: inline-block;
  line-height: 1.2;
  font-family: "GT Pressura";
}
.programmTime {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}
.programm {
  font-size: 20px;
  display: inline-block;
  width: 75%;
}
#map {
  width:100%;
  height:499px;
}
.form-group {
  //margin-bottom: 45px;
}

@media (max-width: 1440px) {
  .port {
    width: 1150px;
  }
}

@media (max-width: 480px) {
  #map {
    display: none;
  }
  #firstSection {
    height: 100vw;
    background-position-y: 90px!important;
  }
  .form-group {
    width: 100%!important;
  }

  #programm .rowItem {
    width: 100%!important;
    top: 0!important;
  }
  #anfahrt .rowItem {
    width: 100%!important;
  }
  #footer .footerHTWG {
    width: 8%!important;
  }
  video {
    position: relative;
    right: 100px;
  }
  .btAltLogo {
    position: absolute;
    bottom: 20px;
    height: 30px!important;
    display: block!important;
  }
  .anfahrtHeader, .anfahrtText {
    width: 34%;
  }
  .btMainLogo {
    display: none!important;
  }
  #firstSection {
    background-size: 700px;
  }
  .programmDate {
    font-size: 55px;
  }
  .programmDays {
    font-size: 20px;
  }
  .programm {
    width: 100%;
  }
}